@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-image: url("/376a66dacbd417010b5eda0d46ada276_w200.gif");
  min-width: 100vw;
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.my-masonry-grid {
  display: flex;
  gap: 1rem;
}
.my-masonry-grid_column > div {
  margin-bottom: 0.8rem;
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
